<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/dashboard/header :: header}"></head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<head th:replace="~{fragments/dashboard/navbar :: navbar}"></head>
<head th:replace="~{fragments/dashboard/sidebar :: sidebar}"></head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Data Galeri</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/tulisan">Galeri</a></li>
                        <li class="breadcrumb-item active">Data Galeri</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-success btn-flat" th:href="@{/admin/galeri/add}"><span class="fa fa-plus"></span>
                    Tambah Data Galeri</a>
            </div>

            <!-- /.card-header -->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Gambar</th>
                    <th>Judul Album</th>
                    <th>Tanggal</th>
                    <th>Album</th>
                    <th>Author</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="g, itrStat : ${galeriList}">
                    <td th:text="${itrStat.index + 1}">nomor urut</td>
                    <th><img border=3 height="70" th:src="*{'data:image/*;base64,'+ g.photoBase64}" width="120"></th>
                    <td th:text="${g.judul}">Jumlah</td>
                    <td th:text="${#temporals.format(g.createdOn, 'dd-MMM-YYYY HH:mm')}">Tanggal</td>
                    <td th:text="${g.album.nama}">Nama Album</td>
                    <td th:text="${g.author}">Author</td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{/admin/galeri/edit/{galeriId}(galeriId=${g.id})}">Edit</a>
                            <a class="delete btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?');"
                               th:href="@{/admin/galeri/delete/{galeriId}(galeriId=${g.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-sm-6">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full" sd:pagination-split="7">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a aria-label="Previous" href="#"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>

<footer th:replace="~{fragments/dashboard/footer :: footer}"></footer>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- jsGrid -->
<script th:src="@{/plugins/jsgrid/demos/db.js}"></script>
<script th:src="@{/plugins/jsgrid/jsgrid.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
</body>
</html>