<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .sharePopup {
        font-size: 11px;
    }

    .sharePopup a {
        font-size: 11px;
        color: #fff;
        text-decoration: none;
    }
</style>
<head th:replace="~{fragments/header :: head}"></head>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: menu}"></div>

<div layout:fragment="content">
    <!--============================= BLOG =============================-->
    <section class="blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8" th:with="t=${tulisan}">
                    <div class="blog-img_block">
                        <img alt="blog-img" class="img-fluid" th:src="${'data:image/*;base64,'+ t.photoBase64}">
                        <div class="blog-date">
                            <span th:text="${#temporals.format(t.createdOn, 'dd-MMM-yyyy')}">createdOn</span>
                        </div>
                    </div>
                    <div class="blog-tiltle_block">
                        <h4><a th:href="@{/artikel/} + ${t.slug}" th:text="${t.judul}">tulisan_judul</a></h4>
                        <h6>
                            <a href="#"><i aria-hidden="true" class="fa fa-user">
                            </i><span th:text="${t.author}">tulisan_author</span>
                            </a>
                            |
                            <a href="#">
                            <i aria-hidden="true" class="fa fa-tags"></i>
                            <span th:text="${t.kategori.nama}">tulisan_kategori_nama</span>
                            </a>
                        </h6>
                        <span + th:text="${t.isi}">Isi</span>
                    </div>

                    <div class="blog-tiltle_block">

                        <div class="blog-icons">
                            <div class="blog-share_block">
                                <div class="pull-left"><h5>Bagikan Ke:</h5></div>
                                <div class="sharePopup"></div>
                            </div>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs blogpost-tab-wrap" role="tablist">
                            <li class="nav-item blogpost-nav-tab">
                                <a class="nav-link active" data-toggle="tab" href="#comments" role="tab">Komentar</a>
                            </li>
                            <li class="nav-item blogpost-nav-tab">
                                <a class="nav-link" data-toggle="tab" href="#write-comment" role="tab">Tinggalkan
                                    Komentar</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="blogpost-tabs">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="comments" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="blodpost-tab-img"
                                                         style="background-color:<?php echo reset($colors);?>;width: 65px;height: 65px;border-radius:50px 50px 50px 50px;">
                                                        <center><h2
                                                                style="padding-top:20%;color:#fff;"><?php echo substr($row->
                                                            komentar_nama,0,1);?></h2></center>
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="blogpost-tab-description">
                                                        <h6><?php echo $row->komentar_nama;?></h6>
                                                        <small><em><?php echo date("d M Y H:i", strtotime($row->
                                                            komentar_createdOn));?></em></small>
                                                        <p><?php echo $row->komentar_isi;?></p>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                					            $komentar_id=$row->komentar_id;
                                    $query=$this->db->query("SELECT * FROM tbl_komentar WHERE komentar_status='1' AND
                                    komentar_parent='$komentar_id' ORDER BY komentar_id ASC");
                                    foreach ($query->result() as $res) :
                                    shuffle($colors);
                                    ?>
                                    <div class="row">
                                        <div class="col-md-12 offset-md-1">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="blodpost-tab-img"
                                                         style="background-color:<?php echo reset($colors);?>;width: 65px;height: 65px;border-radius:50px 50px 50px 50px;">
                                                        <center><h2
                                                                style="padding-top:20%;color:#fff;"><?php echo substr($res->
                                                            komentar_nama,0,1);?></h2></center>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="blogpost-tab-description">
                                                        <h6><?php echo $res->komentar_nama;?></h6>
                                                        <small><em><?php echo date("d M Y H:i", strtotime($res->
                                                            komentar_createdOn));?></em></small>
                                                        <p><?php echo $res->komentar_isi;?></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="write-comment" role="tabpanel">
                                    <form action="<?php echo site_url('blog/komentar');?>" method="post">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Nama</label>
                                                    <input class="form-control" name="nama" placeholder="Nama Lengkap"
                                                           required type="text">
                                                </div>
                                                <!-- // end .form-group -->
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input class="form-control" name="email" placeholder="Email"
                                                           required type="email">
                                                </div>
                                                <!-- // end .form-group -->
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Komentar Anda</label>
                                                    <textarea class="form-control" name="komentar" required
                                                              rows="6"> </textarea>
                                                </div>
                                                <!-- // end .form-group -->
                                            </div>
                                            <div class="col-12">
                                                <input name="id" required type="hidden" value="<?php echo $id;?>">
                                                <button class="btn btn-warning" type="submit"/>
                                                Kirim Komentar</button>
                                            </div>
                                            <!-- // end .col-12 -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <form action="<?php echo site_url('blog/search');?>" method="get">
                        <input class="blog-search" name="keyword" placeholder="Search" required type="text">
                        <button class="btn btn-warning btn-blogsearch" type="submit">SEARCH</button>
                    </form>
                    <div class="blog-category_block">
                        <h3>Kategori</h3>
                        <ul>
                            <li th:each="k :${kategoriList}">
                                <a th:href="@{/blog/kategori/} + ${#strings.replace(k.nama,',','-')}"
                                   th:text="${k.nama}">kategori_nama
                                    <i aria-hidden="true" class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog-featured_post">
                        <h3>Populer</h3>
                        <div class="blog-featured-img_block" th:each="p : ${populer}">
                            <img alt="blog-featured-img" class="img-fluid" th:src="@{/assets/images/} + ${p.gambar}"
                                 width="35%">
                            <h5><a th:href="@{/artikel} + ${p.slug}"
                                   th:text="${#strings.substring(p.judul,0, 25)} + '...'">tulisan_judul</a>
                            </h5>
                            <p th:text="${#strings.substring(p.isi,0,25)}">tulisan_isi,5).'...'}</p>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--//END BLOG -->

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
