<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: menu}"></div>

<div layout:fragment="content">
    <section class="our-teachers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-5">Siswa Kami</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3" th:each="s : ${siswaList}">
                    <div class="admission_insruction">
                        <!--                        <img border=3 height="40" th:src="*{'data:image/*;base64,'+ p.photoBase64}" width="40"></th>-->
                        <!--                        <img alt="#" class="img-fluid" th:src="@{/assets/images/}  + ${s.photo ?: 'blank.png'}">-->
                        <img alt="#" class="img-fluid" th:src="*{'data:image/*;base64,'+ s.photoBase64}">
                        <p class="text-center mt-3"><span th:text="${s.nama}">nama</span>
                            <br>
                            <span th:text="${s.kelas.nama}">Kelas</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- End row -->
            <nav><?php echo $page;?></nav>
        </div>
    </section>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
